{
  "arrowParens": "avoid",
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "tabWidth": 2,
  "printWidth": 100,
  "vueIndentScriptAndStyle": false,
  "htmlWhitespaceSensitivity": "ignore" 
}
