/* page for class */
body {
  background: #f6f6f6;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei,
    Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 15px;
  color: #121212;
}
/* blue button */
.button-blue {
  color: #06f;
  border-color: #06f;
}
.button-blue:hover {
  background-color: rgba(0, 102, 255, 0.06);
}
/* blue background button */
.button-primary {
  color: #fff;
  background-color: #06f;
}
.button-primary:hover {
  border-color: #005ce6;
  background-color: #005ce6;
}
